img {
  display: block;
  margin: auto;
}
.row {
  margin-top: 5%;
}
.col-xs-6 {
  border: 2px solid black;
  /*box-sizing: border-box;*/
  /*box-sizing: padding-box;*/
  padding: 100px;
  background-color: red;

}
a img {
  max-width: 100%;
}
.center {
  max-width: 100%;
}
input {
  max-width: 100%;
}
